* {
    margin: 0px;
}

body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    overscroll-behavior-y: none;
}
/*navbar*/
.navbar {
	background-color: #36454f!important;
	padding: 2%;
}

.logo {
  height: 25px;
}

.navbar a {
	color: #f9eedc;
	font-size: 25px;
	padding-left: 250px;
}

.navbar a:hover {
  text-decoration: none;
}

.b {
  color: #4bb1bc;
}

.p {
  color: #c94f68;
}

.navbar h2 {
	padding-right: 250px;
	font-size: 25px;
	color: #f9eedc;
}

.carousel {
	height: 200px;
}

/*banner*/
.banner {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/tenderloin.jpeg");

  /* Set a specific height */
  height: 90%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#wrapper{
  display: flex;
  justify-content: space-around;

}

.left_side {
  margin-left: 160px;
  margin-top: 40px;
  padding-top: 185px;
  color: #f9eedc;
}

.left-side h1{
  font-size: 50px!important;
  font-weight: 800;
}

h1{
  font-weight: 800;
  font-size: 45px;
  color: #f9eedc;

}

.right_side {
  margin: 200px;
  margin-right: 250px;
  padding-left: -20px;
}

span {
  color: #c94f68;
}


/*sections*/
#section1 {
  height: 400px;
  background-color: #f9eedc;
  
}

#icons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 130px;
  }
#icons h4 {

   padding-top: 20px;
   justify-content: space-around;
   margin-right: -50px;
   font-weight: 700;
}

.alignment h4{
  padding-left: 3px;
}

.alignment2 h4 {
  padding-left: 8px;
}

.alignment3 h4 {
  padding-right: 10px;
}

#section2 {
  height: 450px;
  background-color: #c94f68;
  display: flex;
  justify-content: space-between;
}

#section3 {
  height: 400px;
  background-color: #f9eedc;
}



/*section*/
.section2 img {
    height: 400px;
    margin: 40px 40px;

}

.left {
  margin-left: 200px;
  margin-top: 40px;

}

.left img {
  height: 300px;
  margin-top: 25px;
}

.right {
  margin:85px;
  margin-right: 315px;
  padding-left: -20px;
}

.right h2{
  color: #f9eedc;
  font-weight: 800;
}

.right h1 {
  color: #f9eedc;
}

.left h2 {
    padding-top: 30px;
    color: #FFFFFF;
}

.btn-secondary {
  background-color: #36454f;
  border-color: #36454f;
  width: 200px;
  font-weight: 800;
}

.btn-secondary:hover {
  background-color: #36454f;
  border-color: #36454f;
}

/*section3*/

#section3 {
  text-align: center;
}
#section3 h2 {
  color: #4bb1bc;
  padding-top: 80px;
  font-weight: 800;
}

#section3 p {
  color: #000000;
  padding-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

/*footer*/
footer {
  background-color: #36454f;
  height: 100px;
}

h5 {
  text-align: center;
  color: #f9eedc;
  padding-top: 35px;
  font-size: 16px;
}

.logo2 {
  height: 20px;
}

/*form*/

#square {
  background-color: #4bb1bc;
  height: 400px;
  width: 400px;
  border-radius: 3px;
}

.form-header {
  font-size: 30px;
  font-weight: 800;
  color: #f9eedc;
  border-radius: 3px 3px !important;
  height: 50px;
  width: 200px;
  padding-left: 140px;
  padding-top: 12px;
  padding-bottom: 50px;
}

.form-control {
  width: 70%;
  margin-left: 50px;
  margin-top: 10px;
}

.pink-btn {
  background-color: #c94f68;
  color: #f9eedc;
  width: 260px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: 800;
}