body, html {
    height: 100%;
}
/*navbar*/
.navbar {
	background-color: #6c757d !important;
	padding: 2%;
}

.navbar a {
	color: #f9eedc;
	font-size: 25px;
	padding-left: 250px;
}

.b {
  color: #4bb1bc;
}

.p {
  color: #c94f68;
}

.navbar h2 {
	padding-right: 250px;
	font-size: 25px;
	color: #f9eedc;
}

.carousel {
	height: 200px;
}

/*banner*/
.banner {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wonderingfair.files.wordpress.com/2016/06/happy-homeless-man.jpg");

  /* Set a specific height */
  height: 90%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#wrapper{
  display: flex;
  justify-content: space-around;

}
/* Place text in the middle of the image */
.banner-text {
  }

/*sections*/
#section1 {
  height: 400px;
  background-color: #f9eedc;
  
}

#icons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 130px;
  }

#section2 {
  height: 450px;
  background-color: #c94f68;
  display: flex;
  justify-content: space-between;
}

#section3 {
  height: 400px;
  background-color: #f9eedc;
}



/*section*/
.section2 img {
    height: 400px;
    margin: 40px 40px;

}



.left {
  margin-left: 200px;
  margin-top: 40px;

}

.left img {
  height: 300px;
  margin-top: 25px;
}

.right {
  margin:85px;
  margin-right: 315px;
}

.right {
  padding-left: -20px;
}

.right h1 {
  color: #f9eedc;
}

.left h2 {
    padding-top: 30px;
    color: #FFFFFF;
}